.btn-menu {
	text-align: left;
}

.btn-menu i {
	margin-left: .5em;
	margin-right: .5em;
}

.side-menu {
	padding-top: 1em;
	background: blue;
	box-shadow: 1px 5px 5px #333;
}

.main-section {
	background: #ffe;
}

.hero-unit {
	background: url('/img/banner.jpg') left top;
	box-shadow: 1px 2px 3px #888;
	background-size: 100%;
	color: #fff;
	text-shadow: 1px 1px 2px black;
}

.pagination {
	text-align: center;
}

.message {
	display: none;
	position: fixed;
	top: 30%;
	width: 20em;
	min-height: 2em;
	line-height: 2em;
	left: 50%;
	margin-left: -10em;
	text-align:center;
	opacity: .7;
	border: 1px solid grey;
	border-radius: 10px;
	box-shadow: 1px 2px 3px #888;
	background: red;
	font-size: 1.5em;
	padding: 1em;
}

.message.good {
	background: #64DF85;
	border: 1px solid #007C21;
	color: #007C21;
}

.message.bad {
	background: #FF7A73;
	color: #A60800;
	border: 1px solid #A60800;
}

#product-list {
	position: relative;
}

.product-item {
	position: relative;
	background: white;
	box-shadow: 2px 3px 5px #555;
	margin-bottom: 1em;
	height: 15em;
}

.product-name {
	font-family: 'Changa One', cursive;
	font-size: 2.5em;
	position: absolute;
	top: 1.25em;
	width: 100%;
	text-align: center;
	color: gold;
	text-shadow: 1px 1px 3px black;
}

.product-price {
	position: absolute;
	top: 3.5em;
	width: 100%;
	text-align: center;
	font-size: 2em;
	color: #555;	
}

.product-price.sale {
	text-decoration: line-through;
}

.product-sale {
	position: absolute;
	top: 4.5em;
	width: 100%;
	text-align: center;
	color: red;
	font-size: 2em;
}

.product-item .desc {
	position: absolute;
	bottom: 0;
	padding: 0 1em .5em 1em;
}

.lemon {
	position: absolute;
	top: .5em;
	left: .5em;
	width: 7em;
}

.loading {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 20em;
	margin-left: -10em;
	z-index: 800;
}